node_modules/
lib

# Misc error logs
*-debug.log
*-error.log

# Generated before npm packaging occurs and deleted immediately after
# On the offchance it isn't deleted, don't commit it
oclif.manifest.json

# These files are maintained by pyaz.
# They should not be edited manually or committed.
jest.config.js
