# Misc error logs
*-debug.log
*-error.log


# These files are maintained by pyaz.
# They should not be edited manually or committed.

# managed by pyaz
.eslintrc.js
.prettierrc.js
/.eslintrc.js
/.prettierrc.js
/dist
/jest.config.js
/lib
/node_modules
/pyaz-dev
jest.config.js
tsconfig.build.json
tsconfig.json
# end managed by pyaz
